.register {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
    height: 22em;
    align-items: center;
}

.fields {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.row,
.column {
    max-width: 100%;
    margin-bottom: 1em;
}

.column {
    display: flex;
    /* height: 15em; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btnOptions {
    display: flex;
    flex-direction: column;
}

.btnRegister {
    margin-bottom: 0.5em;
}

.field {
    margin-bottom: 1em;
}

.footer {
    position: static;
    margin-top: 2em;
}

@media (max-height: 740px) {
    
    .footer {
        position: static;
        margin-top: 11em;
    }
}