.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: var(--label-text-color);
  margin: 0;
  font-size: 3em;
  text-align: center;
}
.motto {
    font-size: 1.5em;
    color: var(--secondary-color);
}
.sections {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5em;
  /* width: 80%; */
  
}

.footer {
  margin-top: 1.5em;
}

.box{
  padding-bottom: 1.5em;
  border-bottom: 2px solid gray;
}