.field {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 70%;
    margin: 1em 0;
}

.label {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 0.3em;
    width: 5.5em;
    color: var(--label-text-color);
}

.textArea {
    height: 6em;
    min-height: 6em;
    max-width: 100%;
    width: 100%;
    outline: 0;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    background-color: transparent;
    resize: vertical;
}

.length {
    text-align: right;
}