@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9.024));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9.024));
    }
}

.slider {
    /* box-shadow: 0px 0px 9px 2px gray; */
    margin: auto;
    overflow: hidden;
    position: relative;

}

/* .slider::before,
.slider::after {
    background: transparent;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
} */

/* .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
} */

.slider .slideTrack {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: 100%;
}

.slideTrack:hover {
    animation-play-state: paused;
}

.slider .slide {
    margin-right: 2em;
    flex-shrink: 0;
}

.carousel {
    height: 8em;
    overflow: hidden;
}

.items {
    display: flex;
    flex-direction: column;
    height: 8em;
    animation: scroll-carousel 10s linear 0s infinite;
}

.item {
    flex-shrink: 0;
    margin: 1em;
    /* opacity: 0%; */
    /* animation-name: item;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

.items:hover {
    animation-play-state: paused;
}

@keyframes scroll-carousel {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(calc(-9 * 4.3 * 16px));
    }
}

@keyframes item {
    0% {
        opacity: 10%;
    }

    100% {
        opacity: 100%;
    }
}