.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 5em;
    z-index: 2;
}

.navbarItems {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 3em;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

.navbarItems>li {
    list-style: none;
}

.navbarItem {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
}

.menuInput,
.menu {
    display: none;
}

@media (max-width: 400px) {
    .menu {
        top: 1.5em;
        right: 0.1em;
        position: absolute;
        display: inherit;
        height: 2em;
        width: 2em;
        background-image: url(/src/assets/icons/menuIcon.svg);
        background-repeat: no-repeat;
        cursor: pointer;
        margin-right: 2em;
    }

    .menuInput {
        position: relative;
        display: inherit;
        top: 1.5em;
        right: 2.1em;
        height: 2em;
        width: 2em;
        z-index: 2;
        opacity: 0;
    }

    .menuInput:checked+.menu {
        background-image: url('../../assets/icons/cancel.svg');
    }

    .navbar:has(.menuInput:checked) .navbarItems {
        position: absolute;
        background-color: azure;
        top: 4em;
        right: 0.3em;
        display: flex;
        margin: 0;
        flex-direction: column;
        border-radius: 7px;
    }

    .navbar:has(.menuInput:checked) li {
        margin: 0.2em 0;
    }

    .navbarItems {
        display: none;
    }

}