.hero {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
  justify-content: space-around;
  
}
.image {
  max-width: 100%;
  width: 40em;
  object-fit: cover;
  border: 2px solid var(--label-text-color);
  border-radius: 7px;
  box-shadow: 0 0 6px 1px var(--label-text-color);
}
.content {
  font-family: "Playwrite AU SA", sans-serif;
  margin-left: 2rem;
  font-size: 1.5em;
  max-width: 100%;
  width: 20rem;
  text-align: justify;
  align-content: center;
}
